<h1><%= @list.name %></h1>

<p>Bookmarks</p>

<% @bookmarks.each do |bookmark| %>
  <div>
    <p>Movie Name: <%= bookmark.movie.title %></p>
    <p>Comment: <%= bookmark.comment %></p>
    <%= link_to "Delete", bookmark_path(bookmark),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
<% end %>

<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>

<%= link_to "Return to main page", lists_path%>
